.map {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 485px;
  @media (min-width: 768px) {
    width: 100%;
    max-width: 1366px;
  }
}

.map__world {
  display: none;
  justify-content: center;

  p {
    width: 80%;
    height: 100%;

    .map__world--svg {
      position: absolute;
      width: 80%;
    }
  }

  @media (min-width: 768px) {
    display: flex;
    width: 100%;
    height: 300px;
    top: 40px;
  }
  @media (min-width: 900px) {
    height: 400px;
  }
  @media (min-width: 1000px) {
    height: 500px;
  }
}

.land {
  fill: $secondary-color;
  stroke: $primary-font-color;
  stroke-width: 0.3;
}

#FR,
#IN,
#PT,
#ID,
#GH,
#BR,
#UG {
  fill: $orange-color;

  &:hover {
    cursor: pointer;
    stroke-width: 0.6;
  }
}

.map__countries {
  position: relative;
  max-width: 485px;
  @media (min-width: 768px) {
    display: none;

    position: absolute;
    transform: scale(0.8) translateY(-20px);
  }
  @media (min-width: 900px) {
    transform: translateY(30px);
  }
  @media (min-width: 1100px) {
    transform: translateY(100px);
  }
}

.map__countries.is-visible {
  display: block;
}

.cross {
  display: none;

  &:hover {
    cursor: pointer;
  }
  @media (min-width: 768px) {
    display: block;
    position: absolute;
    top: 15%;
    right: 3%;
    width: 20px;
  }
}

.map__element {
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 490px;
  margin: 16px 0px;
  padding-bottom: 24px;
  @media (min-width: 768px) {
    align-items: flex-start;
    margin-top: 50px;
    height: 350px;
    justify-content: center;
    border-radius: 8px;
    background-color: rgba(251, 251, 251, 0.95);
  }
}

.map__main-info {
  @media (min-width: 768px) {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .land__pic {
      justify-self: flex-start;
      transform: scale(0.6);
    }
  }
}
.map__element--selected {
  display: flex;
}

.map__infos {
  margin: 8px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  @media (min-width: 768px) {
    align-items: flex-start;
  }
}

.map__name {
  font-family: Signika;
  font-size: 18px;
}

.land__matiere {
  font-family: Signika;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: $orange-color;
}

.land__organisation {
  font-family: Signika;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-transform: capitalize;
  color: $secondary-color;
}
.map__description {
  font-family: $text-font-family;
  color: $primary-font-color;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin: 0% 10%;
}

.carousel__points {
  width: 100%;
  display: flex;
  justify-content: center;

  @media (min-width: 768px) {
    display: none;
  }
}

.carousel__point {
  margin: 8px;
  width: 20px;
  height: 20px;
  background-color: $secondary-color;
  border-radius: 100%;
}
.carousel__point--selected {
  background-color: $orange-color;
}

.carousel__arrow {
  width: 36px;
  height: 36px;
}

.potugal__pic {
  height: 200px;
}

.map__nav {
  display: flex;
  width: 100%;
  div {
    width: 50%;
    height: 30px;
    border: 3px solid $secondary-color;
    p {
      text-align: center;
      font-family: Signika;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      color: $primary-font-color;
    }
  }
}
.map__maintitle {
  font-size: 20px;
  text-align: center;
  margin-bottom: 24px;
  @media (min-width: 768px) {
    font-size: 32px;
  }
  @media (min-width: 1100px) {
    font-size: 45px;
  }
}

.map__secondtitle {
  display: none;
  margin-bottom: 24px;
  @media (min-width: 768px) {
    display: block;
  }
}
