* {
  box-sizing: border-box;
}

a {
  text-decoration: none;

  &:visited {
    color: $primary-font-color;
  }
}

body {
  font-family: $text-font-family;
  color: $primary-font-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $primary-background-color;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1366px;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  font-family: $title-font-family, sans-serif;
  color: $primary-font-color;
  font-size: 45px;
  text-transform: uppercase;
}

h2 {
  font-family: $text-font-family, sans-serif;
  color: $secondary-font-color;
  font-size: 18px;
}

// CTA

button {
  text-transform: uppercase;
  outline: none;

  &:hover {
    cursor: pointer;
  }
}

.cta {
  padding: 16px 40px;
  border-radius: 3px;
  font-size: 14px;
}

.cta--dark {
  background-color: $orange-color;
  border: 2px solid $primary-background-color;
  color: $primary-background-color;
}

.cta--light {
  background-color: $primary-background-color;
  border: 2px solid $orange-color;
  color: $orange-color;
}

// LOGO

.logo {
  font-family: 'Baumans';
  font-size: 32px;
}

.logo--header {
  color: $orange-color;
}

.logo--footer {
  color: $primary-background-color;
}
