h1 {
  font-family: $title-font-familiy, sans-serif;
  color: $primary-font-color;
  font-size: 32px;
}

h2 {
  font-family: $title-font-familiy, sans-serif;
  color: $secondary-color;
  font-size: 28px;
}

.text {
  font-family: $text-font-family, sans-serif;
  color: $primary-font-color;
}
