//COLORS
$primary-font-color: #11182e;
$primary-background-color: #fbfbfb;
$secondary-color: #8eafac;
$call-to-action-color: #73716b;
$tertiary-color: #b4b4bc;
$orange-color: #ea7307;

//FONTS FAMILIES
$title-font-family: 'signika';
$text-font-family: 'open-sans';
