//COLORS
$primary-font-color: #11182e;
$secondary-font-color: rgba(17, 24, 46, 0.75);
$primary-background-color: #fbfbfb;
$secondary-color: #8eafac;
$secondary-color-opacity-30: rgba(142, 175, 172, 0.35);
$secondary-font-color: #73716b;
$tertiary-color: #b4b4bc;
$orange-color: #ea7307;

//FONTS FAMILIES
$title-font-family: "signika";
$text-font-family: "open-sans";
