.collection {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1180px;
  margin-top: 64px;
}
.collection__title {
  text-align: center;
  padding: 20px;
  h1 {
    font-family: Signika;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 50px;
    color: $primary-font-color;
  }
  h2 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    color: $secondary-font-color;
  }
}

.collection__grid {
  padding-top: 32px;
  display: grid;
  grid-template-columns: minmax(380px, 500px);
  grid-template-rows: repeat(12, 250px);
  gap: 8px;

  .collection__cap {
    background-color: $secondary-color-opacity-30;
    max-height: 250px;

    .collection__picture {
      display: block;
      width: 280px;
    }
    .collection__icon {
      width: 25px;
      position: relative;
      left: 80%;
      top: -285px;
    }
    .collection__button {
      display: block;
      font-family: "signika";
      font-size: 14px;
      border-radius: 5px;
      position: relative;
      padding: 10px 32px;
      color: $orange-color;
      left: 55%;
      top: -20px;
    }
    .collection__button:hover {
      background-color: $orange-color;
      color: $primary-background-color;
    }
    .collection__speedbuy--desktop {
      background-color: $primary-background-color;
      z-index: 2;
      position: relative;
      top: -111px;
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      height: 250px;
      max-width: 500px;
    }
  }

  @media (min-width: 700px) {
    grid-template-columns: repeat(2, minmax(350px, 500px));
    grid-template-rows: repeat(6, 250px);
    .collection__cap:hover {
      background-color: $primary-background-color;
      transform: scale(1.1);
      z-index: 2;
      .collection__speedbuy--desktop {
        display: flex;
      }
    }
    .collection__picture {
      margin: auto;
    }
    .collection__button {
      display: none !important;
    }
    .collection__icon {
      top: -250px !important;
      left: 85% !important;
    }
  }
  @media (min-width: 1050px) {
    grid-template-columns: repeat(3, minmax(350px, 500px));
    grid-template-rows: repeat(4, 250px);
  }
}
.collection__speedbuy {
  background-color: $primary-background-color;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 250px;
  max-width: 500px;
  &.is-selected {
    display: flex;
    transform: translateY(-8px);
  }
}
.cap__sizes {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.cap__size {
  padding: 10px;
  background-color: $secondary-color-opacity-30;
  cursor: pointer;
  font-family: Signika;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 17px;
  text-align: center;
  text-transform: capitalize;
  color: $primary-font-color;
}
.price.cap__price {
  font-size: 18px;
}
.cap__title {
  font-family: Signika;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  color: $primary-font-color;
}
.title__size {
  font-family: Signika;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: capitalize;
  color: $primary-font-color;
}
.guid__size {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 13px;
  text-decoration-line: underline;
  color: $primary-font-color;
  cursor: pointer;
}

.collection__addcta {
  padding: 12px 40px;
  border: none;
  border-radius: 3px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}

.size--active {
  background-color: $secondary-color;
}
.quantity__choice--up {
  top: -110px;
}
