.personnalisation__buy-section {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.buy-section__quantity-price {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .quantity {
    position: relative;
    border: 1px solid $primary-font-color;
    width: 48px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .quantity__icon {
      svg {
        width: 10px;
        height: 8px;
      }
    }
  }

  .price {
    font-size: 24px;
    font-family: $title-font-family;
  }
}

.buy-section__size {
  width: 80%;
  height: 30px;
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .size__selection {
    display: flex;
    justify-content: space-between;
    align-items: bottom;
    width: 55%;
    border-bottom: 1px $primary-font-color solid;

    .selection {
      font-size: 12px;
    }

    .svg {
      svg {
        width: 15px;
        height: 15px;
      }
    }
  }

  .size__guide {
    font-size: 8px;
    text-decoration: underline;
  }
}

.buy-section__cta {
  margin-top: 16px;
  padding: 8px 40px;
}
