.personnalisation__buy-section {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 390px;
}

.buy-section__quantity-price {
  position: relative;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .quantity {
    position: relative;
    border: 1px solid $primary-font-color;
    width: 48px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    &:hover {
      cursor: pointer;
    }

    @media (min-width: 1100px) {
      width: 80px;
      height: 36px;
    }

    .quantity__icon {
      svg {
        width: 10px;
        height: 8px;
      }
    }
  }

  .quantity.is-choosing {
    .quantity__icon {
      transform: rotate(180deg);
    }
  }

  .price {
    font-size: 24px;
    font-family: $title-font-family;

    @media (min-width: 1100px) {
      font-size: 32px;
    }
  }
}
.quantity__choice {
  position: absolute;

  top: 24px;
  border: 1px solid $primary-font-color;
  width: 80px;
  display: none;
  flex-direction: column;
  background-color: $primary-background-color;
  z-index: 1;

  @media (min-width: 1100px) {
    top: 36px;
  }
  p {
    padding: 4px 0px;
    padding-left: 20%;

    &:hover {
      cursor: pointer;
      background: $tertiary-color;
    }
  }
}

.quantity__choice.is-visible {
  display: flex;
}

.buy-section__size {
  position: relative;
  width: 80%;
  height: 30px;
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .size__selection {
    display: flex;
    justify-content: space-between;
    align-items: bottom;
    width: 55%;
    border-bottom: 1px $primary-font-color solid;

    &:hover {
      cursor: pointer;
    }

    .selection {
      font-size: 12px;

      @media (min-width: 1100px) {
        font-size: 14px;
      }
    }

    .svg {
      transition: transform 0.3s;
      svg {
        width: 15px;
        height: 15px;
      }
    }

    &.is-choosing {
      .svg {
        transform: rotate(45deg);
      }
    }
  }

  .size__guide {
    font-size: 8px;
    text-decoration: underline;

    &:hover {
      cursor: pointer;
    }
  }

  .size__choice {
    display: none;
    justify-content: space-between;
    position: absolute;
    width: 125%;
    height: 56px;
    padding: 8px;
    background-color: $primary-background-color;
    top: 42px;
    left: -12%;

    &.is-visible {
      display: flex;
    }
    .size__choice--size {
      text-align: center;
      background-color: $secondary-color-opacity-30;
      padding-top: 15px;
      width: 30%;

      &:hover {
        cursor: pointer;
        background-color: $secondary-color;
      }
    }
  }
}

.buy-section__cta {
  margin-top: 16px;
  padding: 16px 40px;

  &:hover {
    background-color: $primary-background-color;
    color: $orange-color;
    border-color: $orange-color;
  }
  @media (min-width: 1100px) {
    width: 100%;
  }
}

.personnalisation__rassurance {
  width: 80%;
  max-width: 390px;
  color: $secondary-font-color;
  font-size: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 1100px) {
    font-size: 10px;
  }

  .personnalisation__rassurance__part {
    margin-top: 8px;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    p:hover {
      text-decoration: underline;
      cursor: pointer;
    }

    svg {
      color: $secondary-font-color;
      width: 13px;
      height: 10px;
    }
  }
}
