.personnalisation__choice {
  width: 100%;
  max-width: 580px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.choice {
  margin-top: 24px;
  width: 80%;
  border-bottom: 1px $primary-font-color solid;
}

.choice__title {
  font-size: 14px;
  text-align: left;

  @media (min-width: 1100px) {
    font-size: 20px;
  }

  .choice__title--type {
    font-size: 20px;

    @media (min-width: 1100px) {
      font-size: 24px;
    }
  }
}

.samples {
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;

  .sample {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-size: 100%;
    margin-right: 24px;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }

    @media (min-width: 1100px) {
      width: 40px;
      height: 40px;
      margin-right: 32px;
    }

    &.is-selected {
      border: 3px solid $secondary-color;
    }

    &:last-child {
      margin-right: 0px;
    }
  }

  .sample--barkCloth {
    background-image: url('/assets/landing/personnalisation/tissus/bracklothImage.png');
  }
  .sample--wax {
    background-image: url('/assets/landing/personnalisation/tissus/waxImage.png');
  }
  .sample--batik {
    background-image: url('/assets/landing/personnalisation/tissus/batikImage.png');
  }
  .sample--lin {
    background-image: url('/assets/landing/personnalisation/tissus/linImage.png');
  }
  .sample--jute {
    background-image: url('/assets/landing/personnalisation/tissus/juteImage.png');
  }

  .sample--liege {
    background-image: url('/assets/landing/personnalisation/visieres/liegeImage.png');
  }
  .sample--pinatex {
    background-image: url('/assets/landing/personnalisation/visieres/pinalatexImage.png');
  }

  .sample--bordeaux {
    background-color: #6d071a;
  }
  .sample--orange {
    background-color: $orange-color;
  }
  .sample--noir {
    background-color: black;
  }
}

.logos {
  margin-right: 32px;
  padding: 8px;
  padding-bottom: 0;

  &:hover {
    cursor: pointer;
  }

  &:last-child {
    margin-right: 0;
  }

  &.is-selected {
    border-bottom: 3px solid $secondary-color;
  }

  .logo-sample {
    font-size: 24px;
  }
}

.samples__logo {
  flex-direction: column;
  justify-content: flex-end;

  @media (min-width: 900px) {
    flex-direction: row;
    justify-content: space-between;
  }

  .samples__logo--Style {
    color: $orange-color;
    display: flex;
    align-items: center;
  }

  .samples__logo--Color {
    margin-top: 8px;
    padding: 8px;
    display: flex;

    @media (min-width: 900px) {
      margin: 0;
    }
  }
}
