.main__pictures--side {
  .view-side__sample--visiere {
    position: absolute;
    display: none;

    &.is-visible {
      display: block;
    }
  }

  .view-side__sample {
    display: none;
    position: absolute;
    width: 130%;
    height: 70%;
    top: 30px;
    left: -20px;

    &.is-visible {
      display: block;
    }
  }

  .view-side__sample--bouton {
    position: absolute;
    display: none;

    &.is-visible {
      display: block;
    }
  }

  .view-side__sample--1.is-visible {
    & ~ .view-side__sample--visiere {
      width: 122px;
      left: 108px;
      top: 107px;
      @media (min-width: 768px) {
        width: 250px;
        left: 210px;
        top: 183px;
      }
    }
    & ~ .view-side__sample--bouton {
      width: 20px;
      top: 29px;
      left: 54px;
      @media (min-width: 768px) {
        width: 36px;
        left: 120px;
        top: 30px;
      }
    }
  }
  .view-side__sample--2.is-visible {
    & ~ .view-side__sample--visiere {
      width: 122px;
      left: 108px;
      top: 107px;
      @media (min-width: 768px) {
        width: 250px;
        left: 210px;
        top: 183px;
      }
    }
    & ~ .view-side__sample--bouton {
      width: 20px;
      top: 28px;
      left: 56px;
      @media (min-width: 768px) {
        width: 36px;
        left: 120px;
        top: 30px;
      }
    }
  }
  .view-side__sample--3.is-visible {
    & ~ .view-side__sample--visiere {
      width: 127px;
      left: 104px;
      top: 105px;
      @media (min-width: 768px) {
        width: 250px;
        left: 210px;
        top: 183px;
      }
    }
    & ~ .view-side__sample--bouton {
      width: 20px;
      top: 28px;
      left: 56px;
      @media (min-width: 768px) {
        width: 39px;
        left: 120px;
        top: 30px;
      }
    }
  }
  .view-side__sample--4.is-visible {
    & ~ .view-side__sample--visiere {
      width: 127px;
      left: 104px;
      top: 105px;
      @media (min-width: 768px) {
        width: 250px;
        left: 210px;
        top: 183px;
      }
    }
    & ~ .view-side__sample--bouton {
      width: 20px;
      top: 28px;
      left: 56px;
      @media (min-width: 768px) {
        width: 39px;
        left: 122px;
        top: 29px;
      }
    }
  }
  .view-side__sample--5.is-visible {
    & ~ .view-side__sample--visiere {
      width: 127px;
      left: 104px;
      top: 105px;
      @media (min-width: 768px) {
        width: 250px;
        left: 210px;
        top: 183px;
      }
    }
    & ~ .view-side__sample--bouton {
      width: 20px;
      top: 28px;
      left: 56px;
      @media (min-width: 768px) {
        width: 39px;
        left: 122px;
        top: 29px;
      }
    }
  }
}
