@keyframes huerotate {
  20% {
    filter: hue-rotate(20deg);
  }
  40% {
    filter: hue-rotate(60deg);
  }
  60% {
    filter: hue-rotate(80deg);
  }
  80% {
    filter: hue-rotate(160deg);
  }
  100% {
    filter: hue-rotate(200deg);
  }
}
