.header {
  width: 100%;
  max-width: 1366px;
  height: 100vh;
  position: relative;
  background-image: url(/assets/landing/Header/backgroundHeader.jpg);
  background-size: cover;
  background-position-x: 45%;
  background-repeat: no-repeat;
}

.header__nav {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  padding: 0 20px;
}

.header__logoMobilKH {
  width: 40px;
  height: 40px;
}

.header__logoKH {
  display: none;
}

.header__links {
  display: none;
}

.header__iconsContainer {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__iconsWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__icon {
  width: 20px;
  height: 20px;
  fill: $primary-background-color;
  margin-left: 8%;
}

.header__icon.header__icon--collection {
  fill: $primary-font-color;
}

.header__content {
  position: absolute;
  top: 20%;
  left: 6.25%;

  &.is-on-screen {
    .header__title {
      opacity: 1;
    }
    .header__subtitle {
      opacity: 1;
    }
    .cta {
      opacity: 1;
    }
  }
}

.header__title {
  width: 55%;
  font-size: 20px;
  text-transform: uppercase;
  color: $primary-font-color;
  margin-bottom: 24px;
  opacity: 0;
  transition: opacity 1s;
}

.header__subtitle {
  width: 55%;
  font-size: 12px;
  color: $primary-font-color;
  margin-bottom: 24px;
  opacity: 0;
  transition: opacity 4s;
}

.cta {
  padding: 12px 28px;
  padding-top: 14px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 600;
  opacity: 0;
  transition: opacity 5s;

  &:hover {
    background-color: $orange-color;
    border: 2px solid $primary-background-color;
    color: $primary-background-color;
  }
  @media (min-width: 768) {
    padding: 14px 32px;
    padding-top: 12px;
    font-size: 16px;
    font-weight: 600;
    width: 200px;
    height: 50px;
  }
  @media (min-width: 1200px) {
    padding: 14px 32px;
    padding-top: 12px;
    font-size: 16px;
    font-weight: 600;
    width: 206px;
    height: 50px;
  }
}

//MENU BURGER

@mixin iconBurger {
  width: 40px;
  height: 5px;
  background-color: $orange-color;
  border-radius: 10px;
}

.header__menu {
  background-color: transparent;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 30px;
  left: 30px;
  z-index: 4;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__iconBurger {
  @include iconBurger;
  transition: background-color 0.3s;

  &::before,
  &::after {
    content: '';
    display: block;
    @include iconBurger;
    transition: transform 0.3s;
  }

  &::before {
    transform: translateY(-12px);
  }

  &::after {
    transform: translateY(6px);
  }
}

.header__iconBurger.is-open {
  background-color: transparent;

  &::before {
    transform: translateY(3px) rotate(45deg);
  }

  &::after {
    transform: translateY(-3px) rotate(-45deg);
  }
}

.header__menuContent {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 3;
  border-right: 25px solid $secondary-color;
  left: -150vw;
  transition: left 0.5s;

  &.is-open {
    left: 0px;
  }
}

.header__menuContent.header__menuContent--collection {
  transform: translateY(312px);
}

.header__menuItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 64px;
  height: 100vh;
  width: 100%;
  background-color: $primary-background-color;

  & li:nth-child(4) {
    margin-top: 16px;
  }
}

.header__menuItem {
  width: 200px;
  overflow: visible;
  font-family: $title-font-family;
  text-transform: capitalize;
}

.header__menuItem--itemTop {
  font-size: 28px;
  font-weight: 900;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 2px solid $tertiary-color;
}

.header__menuItem--itemBot {
  line-height: 200%;
  color: $orange-color;
  font-size: 18px;
  cursor: pointer;
}

.header__icon--menuBurger {
  fill: $orange-color;
  margin: 0 10px 0 0;
  width: 15px;
  height: 15px;
}

// RESPONSIVE 768PX

@media (min-width: 768px) {
  .header {
    height: 90vh;
  }

  .header__nav {
    background-color: $primary-background-color;
    padding: 0;
    justify-content: space-between;
    position: fixed;
    max-width: 1366px;
    z-index: 2;
  }

  .header__linkLogo {
    display: none;
  }

  .header__logoMobilKH {
    display: none;
  }

  .header__logoKH {
    display: block;
    font-family: 'Baumans';
    font-size: 28px;
    padding-left: 20px;

    a {
      color: $orange-color;
    }
  }

  .header__links {
    width: 50%;
    display: flex;
    justify-content: space-between;
    font-family: $title-font-family;
    font-size: 16px;
    color: $primary-font-color;
    text-transform: capitalize;

    li {
      line-height: 150%;
      padding-bottom: 2px 0;
      transition: border-bottom 0.2s;
    }

    li:hover {
      border-bottom: 1px solid $secondary-color;
      cursor: pointer;
    }
  }

  .header__iconsContainer {
    max-width: 15%;
    background-color: $secondary-color;
    height: 50px;
    justify-content: space-around;
  }

  .header__iconsWrapper {
    max-width: 80%;
    justify-content: space-around;
  }

  .header__icon.header__icon--collection {
    fill: $primary-background-color;
  }

  .header__content {
    top: 30%;
  }

  .header__title {
    width: 50%;
    font-size: 30px;
    margin-bottom: 35px;
  }

  .header__subtitle {
    width: 40%;
    font-size: 16px;
    margin-bottom: 35px;
  }
  .header__menu,
  .header__menuContent {
    display: none;
  }
}

// RESPONSIVE 1100PX

@media (min-width: 1100px) {
  .header__content {
    top: 20%;
  }

  .header__title {
    font-size: 40px;
  }

  .header__subtitle {
    font-size: 24px;
  }
}
